 /* The switch - the box around the slider */
 .switch {
   position: relative;
   display: inline-block;
   width: 60px;
   height: 34px;
   border: 1px solid rgb(19, 19, 19);
   transition: .9s;
 }

 .switch-dark {
   border: 1px solid #ccc;
   transition: .9s;
 }

 /* Hide default HTML checkbox */
 .switch input {
   opacity: 0;
   width: 0;
   height: 0;
 }

 /* The slider */
 .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: .4s;
   transition: .9s;
 }

 .slider:before {
   position: absolute;
   content: "";
   height: 26px;
   width: 26px;
   left: 4px;
   bottom: 4px;
   background-color: rgb(19, 19, 19);
   -webkit-transition: .4s;
   transition: .9s;
 }

 .slider-dark:before {
   background-color: white;
   transition: .9s;
 }

 input:checked+.slider {
   background-color: rgb(19, 19, 19);
 }

 input:focus+.slider {
   box-shadow: 0 0 1px rgb(19, 19, 19);
 }

 input:checked+.slider:before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px);
 }

 /* Rounded sliders */
 .slider.round {
   border-radius: 34px;
 }

 .slider.round:before {
   border-radius: 50%;
 }